@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
$font:"Noto Sans JP",
sans-serif;

$keyColor:#63A8FF;
$white:#fff;
$max-width:960px;
